<footer class="footer text-center">
    <!--<nav class="navbar navbar-expand-lg">-->

      <div class="container">
          <span class="text-muted"><a class="text-primary" href="{% url 'home' %}">PHIS-INSPEC</a></span>
          <span class="text-muted">&nbsp;*&middot;*&nbsp;</span>
          <span class="text-muted">&copy; Copyrights {% now 'Y' %} &middot; phish-inspec &middot; All rights reserved.</span>
          <span class="text-muted">&nbsp;*&middot;*&nbsp;</span>
          <span class="text-muted"><a class="text-primary" href="{% url 'email' %}">Contact Us.</a></span>
      </div>

    <!--</nav>-->
</footer>