{% extends 'phis_inspec/base.html' %}

{% block body1 %}

    <p class="mb-0 lead text-justify">Real stats about phishing web pages:</p>
    <ul>
        <li>
            <a class="nav-link" href="https://www.phishtank.com/stats.php">PhishTank Stats</a>
        </li>
        <li>
            <a class="nav-link" href="https://www.antiphishing.org/">APWG</a>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <p>References about phishing web pages:</p>
    <ul>
        <li>
            <p class="mb-0 lead text-justify">Abubakr Sirageldin, Baharum B. Baharudin, Low Tang Jung, “Malicious Web Page Detection:A Machine   Learning Approach”, Advances in Computer Science and its Applications Volume 279 of the series Lecture Notes in Electrical Engineering, 2013, pp 217-224</p>
        </li>
        <li>
            <p class="mb-0 lead text-justify">Van-Nam Huynh,Thierry Denoeux,Dang Hung Tran,Anh-Cuong Le,Son Bao Pham, “Phishing Attacks Detection Using Genetic,   Programming”, Knowledge and Systems Engineering Proceedings of the Fifth International Conference KSE, Volume 2, 2014, pp 185</p>
        </li>
    <li>
            <p class="mb-0 lead text-justify">D. Kevin McGrath, Minaxi Gupta, Behind “Phishing: An Examination of Phisher Modi Operandi”, Conference: First USENIX Workshopon Large-Scale Exploits and Emergent Threats, San Francisco, CA, USA, Proceedings, 2008, article No 4</p>
        </li>
    </ul>
{% endblock %}