<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="15; url={% url 'home' %}">
    <title>Page Not Found!</title>
</head>
<body>
<H4><em>Sorry This server side problem.
    If this error appear when analyzing some URL,
    That means there is a technical problem with it,
    <ul>
        <li>Be sure it is not empty</li>
        <li>Be sure that is well encoded</li>
        <li>Be sure that for special characters combination</li>
    </ul>

    Thank You For visiting.
    You redirected to home Page soon, or click <a href="{% url 'home' %}">here</a> if you want.
</em></H4>
</body>
</html>